<h1>New Video</h1>

<%= render 'form', video: @video %>

<div class="btn-group">
  <%= link_to videos_path do %>
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
      </button>
  <% end %>
</div>
